<!DOCTYPE html>
<html ng-app="myPetStoreApp">
  <head>
    <meta charset="utf-8">
    <title>Pet Store Homework</title>
    <h1>Kamilah's Pet Store</h1>
  </head>
  <body ng-controller= "myPSController as vm">
    <hr/>
    <label> Choose a Pet!</label>
    <hr/>
    <input ng-model="vm.newPet.name"/>
    <input ng-model="vm.newPet.price"/>
<hr/>
<button ng-click="vm.makeNewPet()">New Pet</button>
    <hr/>
  <ol>
      <li ng-repeat="item in vm.pets">
        {{item.name}}
        ${{item.price}}
    </li>
  </ol>

      <script src="../bower_components/angular/angular.min.js"></script>
      <script src="pSApp.js"></script>
  </body>
</html>
